body {
    background-color: #F0F4EF;
    min-height: 100vh;     
   }
.table {
    border-collapse: collapse;
}
.thead {
    /* background-color:#344966; */
    Color:black;
    border:1px solid black;
}

.backsplash{
    background-color: #bfcc94;
    font-weight: bold;
    text-align: center;
}

.heading{
    padding-top: 30px;
}

.subheading{
    font-weight: bold;
    text-align: center;
}

p{
    font-weight: normal;
}

h6{
    font-weight: bold;
}

th{
    text-align:center;
    width: 250px;
    padding:10px;
}
.td {
    text-align:center;
    width: auto;
    padding:10px;
}

.geeks {
    border-right:hidden;
}
.gfg {
    border-collapse:separate;
    border-spacing:0 15px;
}
.body, h1 {
    color:lightgreen;
}

.btn-danger {
    background-color: #8e0303;
    color: white;
}

.calendar{
    text-align: center;
}

.table {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}