
<div class="bg-image" 
style="background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg');
       height: 50vh; width: 100vw; background-size: cover">

   <div style="text-align: center;">  
  <h1>NoBSMealPrep</h1>
  <br>
  <p style="font-size: 18px">By: Minnie Ragin, Joshua Tan, Robert (Logan) Woods</p>
  <p style="font-size: 18px">Honorary Members: Cecil the Cat, Kashi the Cat</p>
  <br>
</div>  
​</div>

<br>

<!-- <div style="text-align: center;"> -->
  <h5 style="text-align: center;"><strong>Welcome to our Meal Prep App</strong></h5>
  <ul style="font-size: 18px">
    <li><ins>Please log in to get started.</ins></li>
      <ul>
        <li>If there was no pop-up, please click the 
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" 
        width="18" 
        height="18">
        icon to login with a valid Gmail.</li>
        <li>Use the tabs on the upper left to navigate around the app.</li>
      </ul>
    
    <br>
    <li><ins>Search Recipes: Enter a keyword and optional diet and cuisine modifiers to look up a recipe.</ins></li>  
    <ul>
        <li>You can view the specific details of a recipe by clicking on the "View Recipe Details" button.</li>
        <li>In the recipe details, you can choose to add the recipe to your favorites if you are logged in.</li>
      </ul>
    
    <br>
    <li><ins>Planner</ins></li>
      <ul>
        <li>Inside the planner is a list of your favorited recipes and a calendar for meal planning.</li>
        <li>Once again, you can view the recipe details, but here you can also add specific or all of ingredients to your grocery cart.</li>
        <li>You can also remove the recipe from your favorites by clicking "Delete from Favorites".</li>
        <li>For the Calendar, you can plan out your meals for the week.</li>
        <li>There are buttons to add saved recipes from your favorites list or you have the option to add a custom meal.</li>
      </ul>
  ​
    <br>
    <li><ins>Grocery List</ins></li>
      <ul>
        <li>This is a list of ingredients from selected recipes in your favorites list.</li>
        <li>When viewing a favorited recipe, you can add ingredients to your list by pressing 'Add Ingredient' or 'Add All Ingredients'.</li>
        <li>Adding the same ingredient mutiple times will increase the amount of the ingredient in your list.</li>
        <li>In the grocery list, multiple ingredients of the same food type will be grouped together.</li>
        <li>The grocery list also allows you to edit the amount, measurement, and name of each ingredient directly.</li>
      </ul>
  </ul> 
<!-- </div> -->