.navbar-custom {
  background-color: #B4CDED;
}


.nav-item {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 20px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* a.navbar-brand2{
  background-image: url('src/app/img/editedphoto.jpeg');
  height: "30px";
  width: "30px";
} */