<!DOCTYPE html>
<html>

<head>
</head>

<!-- <h2 class="subheading">This Week's Meal Plan</h2> -->
<table class='table table-striped' aria-labelledby="tableLabel" style="border: solid 2px white; margin:10px;">
    <thead>
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="color: white">Breakfast</th>
            <td *ngFor="let b of breakfastItems; index as i">
                <div *ngIf="checkIfArray(b) === false">{{b}} <!--If the object is a single string, not an array-->
                    <button *ngIf="b !== null" (click)="deleteCalItem(b, meals[0], daysOfWeek[i])">
                        <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                            width="16" height="16">
                    </button>
                    <br> <br>
                </div>

                <div *ngIf="checkIfArray(b) === true"> <!--If the object is an array, not a string-->
                    <div *ngFor="let a of breakfastItems[i]; index as j">{{a}}
                        <button *ngIf="b !== null"
                            (click)="updateCalArrayAtIndex(breakfastItems[i][j], meals[0], daysOfWeek[i])">
                            <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                                width="16" height="16">
                        </button>
                        <br> <br>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <th>Lunch</th>
            <td *ngFor="let l of lunchItems; index as i">
                <div *ngIf="checkIfArray(l) === false">{{l}}
                    <button *ngIf="l !== null" (click)="deleteCalItem(l, meals[1], daysOfWeek[i])">
                        <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                            width="16" height="16">
                    </button>
                    <br> <br>
                </div>

                <div *ngIf="checkIfArray(l) === true">
                    <div *ngFor="let a of lunchItems[i]; index as j">{{a}}
                        <button *ngIf="l !== null"
                            (click)="updateCalArrayAtIndex(lunchItems[i][j], meals[1], daysOfWeek[i])">
                            <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                                width="16" height="16">
                        </button>
                        <br> <br>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <th style="color: white">Dinner</th>
            <td *ngFor="let d of dinnerItems; index as i">
                <div *ngIf="checkIfArray(d) === false">{{d}}
                    <button *ngIf="d !== null" (click)="deleteCalItem(d, meals[2], daysOfWeek[i])">
                        <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                            width="16" height="16">
                    </button>
                    <br> <br>
                </div>

                <div *ngIf="checkIfArray(d) === true">
                    <div *ngFor="let a of dinnerItems[i]; index as j">{{a}}
                        <button *ngIf="d !== null"
                            (click)="updateCalArrayAtIndex(dinnerItems[i][j], meals[2], daysOfWeek[i])">
                            <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                                width="16" height="16">
                        </button>
                        <br> <br>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <th>Snacks</th>
            <td *ngFor="let s of snacksItems; index as i">
                <div *ngIf="checkIfArray(s) === false">{{s}}
                    <button *ngIf="s !== null" (click)="deleteCalItem(s, meals[3], daysOfWeek[i])">
                        <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                            width="16" height="16">
                    </button>
                    <br> <br>
                </div>

                <div *ngIf="checkIfArray(s) === true">
                    <div *ngFor="let a of snacksItems[i]; index as j">{{a}}
                        <button *ngIf="s !== null"
                            (click)="updateCalArrayAtIndex(snacksItems[i][j], meals[3], daysOfWeek[i])">
                            <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png"
                                width="16" height="16">
                        </button>
                        <br> <br>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<div>
    <button (click)="deleteAllEntries()" class="btn btn-danger btn-sm btn-outline-dark">
        Delete All Entries
    </button>
</div>

<br>
    <div *ngIf="customTrigger === true" class="user-inputs">
        <br>
        <br>
        <label for="yourmeal">Enter Custom Meal:&ensp;</label>
        <input name="yourmeal" type="text" [(ngModel)]="submitLabel">
        <br>
        <br>
        <label for="day">Day of the Week:&ensp;</label>
        <select name="day" [(ngModel)]="submitDay">
            <!-- day of week slot/type -->
            <option *ngFor="let d of daysOfWeek" [ngValue]="d">{{d}}</option>
        </select>
        <br>
        <br>
        <label for="meal">Meal:&ensp;</label>
        <select name="meal" [(ngModel)]="submitMeal">
            <!-- meal slot/type -->
            <option *ngFor="let m of meals" [ngValue]="m">{{m}}</option>
        </select>
        <br>
        <br>
        <input type="submit" (click)="updateCalendar()" class="btn btn-light btn-sm btn-outline-dark">
        <br>
        <br>
        <br>
        <button (click)="switchCustomTray()" class="btn btn-light btn-sm btn-outline-dark">Use Saved Recipes</button>
    </div>


    <div *ngIf="customTrigger === false" class="user-inputs">
        <br>
        <br>
        <label for="recipes">Saved Recipes:&ensp;</label>
        <select name="recipes" [(ngModel)]="submitLabel">
            <!-- favorite recipes slot/type -->
            <option *ngFor="let f of favoriteRecipesByUser; index as i" [ngValue]="favoriteRecipesByUser[i].label">
                {{favoriteRecipesByUser[i].label}}
            </option>
        </select>
        <br>
        <br>
        <label for="day">Day of the Week:&ensp;</label>
        <select name="day" [(ngModel)]="submitDay">
            <!-- day of week slot/type -->
            <option *ngFor="let d of daysOfWeek" [ngValue]="d">{{d}}</option>
        </select>
        <br>
        <br>
        <label for="meal">Meal:&ensp;</label>
        <select name="meal" [(ngModel)]="submitMeal">
            <!-- meal slot/type -->
            <option *ngFor="let m of meals" [ngValue]="m">{{m}}</option>
        </select>
        <br>
        <br>
        <input type="submit" (click)="updateCalendar()" class="btn btn-light btn-sm btn-outline-dark">
        <br>
        <br>
        <br>
        <button (click)="switchCustomTray()" class="btn btn-light btn-sm btn-outline-dark">Create Custom Meal</button>
    </div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
    <button (click)="beansAll()" class="btn btn-light btn-sm btn-outline-dark">
        B - E - A - N - S
    </button>
</div>

</html>