<html>
    <body>
<div *ngIf="user === null || loggedIn === false" style="text-align: center;"> 
    <br><p><strong>Please log in to view your planner!</strong></p>
</div>

<div *ngIf="loggedIn === true" class="backsplash">
    <br>
    <h2 style="text-align: center;">Grocery List:</h2>
    <br>
</div>

<div *ngIf="loggedIn === true" style="text-align: left;">
    <table id ="GroceryList" class='table table-striped'>     
        <thead>
            <th>Food Name</th>
            <th>Food Category</th>
            <th>Recipe</th>
        </thead>
        <tbody>
            <tr *ngFor="let g of favoriteGroceryItemsByUser; index as i" style="text-align: left;">

                    <td  *ngIf="isEdited[i] === false" id="td1"><input type="checkbox"> {{g.quantity}} {{g.measure}} of {{g.food}}</td> 
                    <td  *ngIf="isEdited[i] === false" id="td2">{{g.foodCategory}}</td>
                    <td *ngIf="isEdited[i] === false" id="td3">from {{recipeNames[i]}}</td>

                    <div *ngIf="isEdited[i] === false">
                        <td id="td4"><button (click)="openEditTray(i, g.food, g.measure, g.quantity, g.foodCategory)" >
                            <img src="https://cdn-icons-png.flaticon.com/512/7413/7413873.png" 
                            width="35" 
                            height="35">
                        </button></td>

                        <td id="td5"><button (click)="deleteIngredient(g.id, i)" >
                            <img src="https://www.pngkey.com/png/full/16-161807_free-icons-png-red-trash-can-icon.png" 
                            width="35"
                            height="35" >
                        </button></td>
                    </div>

                        
                    <div *ngIf="isEdited[i] === true">
                        <td id="amtBox">Amount: <input class="input" type="text" [(ngModel)]="ingToUpdate.quantity"></td>
                        <td id="mesBox">Measurement: <input class="input" type="text" [(ngModel)]="ingToUpdate.measure"></td>
                        <td id="ingBox">Ingredient: <input class="input" type="text" [(ngModel)]="ingToUpdate.food"></td> 
                        
                        
                        <td id="cancBtn"><button (click)="closeEditTray(i)" class="btn btn-light">Cancel</button></td>
                        <td id="submBtn"><button (click)="editIngredient(g.id , i)" class="btn btn-light">Submit</button></td> 
                    </div>      
                </tr>
        </tbody>
    </table>
</div>
<br>
<div style="text-align: center;">
    <button type = "button" class="btn btn-danger" *ngIf="loggedIn === true" (click)="deleteAllIngredients()">Delete All Ingredients</button>
</div>

<br><br><br>
</body>
</html>